:root {
    --background: #121212;
    --box: #1E1E1E;
    --text: #FFFFFF;
    --highlights: #FF2D55;
    --highlightsHover: #e6244c;
    --details: #00F2EA;
    --inputs: #2A2A2A;
    --placeholder: #AAAAAA;
}
body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}